<table id="price-test-table">
  <thead>
  <th><strong>Title</strong></th>
  <th><strong>Current Price</strong></th>
  </thead>
  <% @product.variants.each do |variant| %>
      <tr>
        <td><%= variant.title %></td>
        <td class='variant-price'><%= variant.price %></td>
      </tr>
  <% end %>
</table>