<div class="Polaris-Layout__AnnotationWrapper">
  <div class="Polaris-Layout__Annotation">
    <div class="Polaris-TextContainer">
      <h2 class="Polaris-Heading">Form</h2>
      <p> Form Sample</p>
    </div>
  </div>
    <div class="Polaris-Layout__AnnotationContent">
      <div class="Polaris-Card__Section">
        <table>
          <thead>
            <th><strong>Title</strong></th>
            <th><strong>Current Price</strong></th>
          </thead>
          <% @product.variants.each do |variant| %>
            <tr>
              <td><%= variant.title %></td>
              <td class='variant-price'><%= variant.price %></td>
              <% @price_test_data['price_data'][variant.id.to_s]['price_points'].map do |price| %>
                <td><%= price %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>