<div class="Polaris-Layout__AnnotationWrapper">
  <div class="Polaris-Layout__Annotation">
    <div class="Polaris-TextContainer">
      <h3 class="Polaris-Heading Polaris-DisplayText--sizeMedium">
        Current Variants
      </h3>
    </div>
    <div class="Polaris-Card polaris-card-with-table">
      <table id="price-test-table">
        <thead>
          <th><strong>Title</strong></th>
          <th><strong>Current Price</strong></th>
        </thead>
        <% @product.variants.each do |variant| %>
          <tr>
            <td><%= variant.variant_title %></td>
            <td class='variant-price'><%= variant.variant_price %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>