<table>
	<thead>
	<th><strong>Title</strong></th>
	<th><strong>Price</strong></th>
	</thead>
	<% @product.variants.each do |variant| %>
			<tr>
				<td><%= variant.title %></td>
				<td><%= variant.price %></td>
			</tr>
	<% end %>
</table>