<div class="std_products">
<table>
  <thead>
    <th><strong>Products</strong></th>
    <th><strong>Price</strong></th>
    <th><strong>Price Test Status</strong></th>
  </thead>
  <% @paginatable_array.each do |product| %>
    <tr>
      <td><%= link_to product.title, product_path(product) %></td>
      <td><%= product.variants[0].price %></td>
      <td><%= PriceTest.where(product_id: product.id).empty? ? "False" :
              PriceTest.where(product_id: product.id).last.active.to_s.capitalize %></td>
    </tr>
  <% end %>
</table>
<%= paginate @paginatable_array %>
</div>