<div class="row">
 <table>
      <thead>
        <th><strong>Product Title</strong></th>
        <th><strong>Product Revenue</strong></th>
        <th><strong>Product Detail Views</strong></th>
        <th><strong>Avg. Price</strong></th>
      </thead>
      <% @metric.data.each do |p| %>
        <tr>
          <td><%= p['title'] %></td>
          <td><%= p['revenue'] %></td>
          <td><%= p['views'] %></td>
          <td><%= p['avg_price'] %></td>
        </tr>
      <% end %>
</div>