<link rel="stylesheet" href="<%= base_url %><%= stylesheet_path 'application' %>">
<script async src="<%= base_url %><%= javascript_path 'application' %>"></script>

<div class="row">
	<div class="column small-12">
		<h2>You are currently viewing an application proxy</h2>
		<p>Please have a celebratory beer</p>
	</div>
</div>