<div class="row">
	<div class="column small-12">

		<h2>Dashboard</h2>

		<h3>Products</h3>

		<ul>
			<% @products.each do |product| %>
				<li><%= product.title %></li>
			<% end %>
		</ul>	
	</div>
</div>