<div class="std_products">
<table>
  <thead>
    <th><strong>Products</strong></th>
    <th><strong>Price</strong></th>
    <th><strong>Price Test Status</strong></th>
  </thead>
  <% @paginatable_array.each do |product| %>
    <tr>
      <td><%= link_to product.title, product_path(product) %></td>
      <td><%= product.variants[0].price %></td>
      <td><%= price_tests(product.id) %></td>
      <!-- variant [0], until all variants possibly as drop down? -->
    </tr>
  <% end %>
</table>
<%= paginate @paginatable_array %>
</div>