.button{
  margin: auto;
}
.large-product-heading {
  margin: 0 2rem;
}
.polaris-card-with-table {
  padding: 10px;
}

label.Polaris-Choice {
  margin-left: 10px;
}

html {
  line-height: 2.8rem;
}

/*#center {*/
/*    margin: auto;*/
/*    width: 20%;*/
/*}*/
