h2.large-product-heading {
  margin: 0 2rem;
}
.polaris-card-with-table {
  padding: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: "pixels|%|relative_length";
}

input.manual_price {
    width: 100%;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
