<table>
  <thead>
    <th><strong>Title</strong></th>
    <th><strong>Revenue</strong></th>
    <th><strong>Detail Product Views</strong></th>
  </thead>
  <% @google_analytics_data.each do |variant| %>
      <tr>
        <td><%= variant.page_title %></td>
        <td><%= variant.page_revenue %></td>
        <td><%= variant.page_views %></td>
      </tr>
  <% end %>
</table>