<div class="Polaris-Layout__AnnotationWrapper">
  <div class="Polaris-Layout__Annotation">
    <div class="Polaris-TextContainer">
      <h3 class="Polaris-Heading Polaris-DisplayText--sizeMedium">
        Google Analytics Data
      </h3>
    </div>
    <div class="Polaris-Card polaris-card-with-table">
      <table>
        <thead>
          <th><strong>Title</strong></th>
          <th><strong>Revenue</strong></th>
          <th><strong>Detail Product Views</strong></th>
        </thead>
        <% @google_analytics_data.each do |variant| %>
            <tr>
              <td><%= variant.page_title %></td>
              <td><%= variant.page_revenue %></td>
              <td><%= variant.page_views %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
